*.iml
.gradle
/local.properties
/keystore.properties
/.idea/caches/build_file_checksum.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/release/app-release-1.1.apk
app/release/app.aab
app/release/output.json
app/src/androidTest/java/com/github/acedroidx/batterytools/ExampleInstrumentedTest.kt
app/src/test/java/com/github/acedroidx/batterytools/ExampleUnitTest.kt
